<table class="table table-bordered" action="/lego/detail/{{lego._id}}">
    <tr>
        <th>Lego Detail</th>
    </tr>
    <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Manufactur Date</th>
        <th>Price</th>
    </tr>
    <tr>
        <th><img src="{{lego.image}}" alt="" width="200" height="200"></th>
        <th>{{lego.name}}</th>
        <th>{{lego.manufacturDate}}</th>
        <th>{{lego.price}}</th>
        <th>
            <a href="/lego/buy/{{lego._id}}" class="btn btn-warning">Buy</a>
        </th>
        
    </tr>
</table>